<div mat-dialog-title>
  {{ 'ViewSampleBByProjectManager.FormTitle' | translate }}
</div>
<mat-dialog-content>
  <div *ngIf='!readyToView' style='height: 240px; display: flex; align-items: center; justify-content: center;'>
    <mat-spinner diameter='128' strokeWidth='1'></mat-spinner>
  </div>
  <mat-tab-group *ngIf='readyToView'>
    <mat-tab label="{{'ViewSampleBByProjectManager.Profile' | translate}}">
      <table class='baf-table' *ngIf='readyToView'>
        <tr>
          <td class='baf-table-key'>
            {{ 'ViewSampleBByProjectManager.Id' | translate }}
          </td>
          <td class='baf-table-value'>
            {{ entity.id}}
          </td>
        </tr>
        <tr>
          <td class='baf-table-key'>
            {{ 'ViewSampleBByProjectManager.Name' | translate }}
          </td>
          <td class='baf-table-value'>
            {{ entity.name}}
          </td>
        </tr>
        <tr>
          <td class='baf-table-key'>
            {{ 'ViewSampleBByProjectManager.Active' | translate }}
          </td>
          <td class='baf-table-value'>
            {{ entity.active}}
          </td>
        </tr>
        <tr>
          <td class='baf-table-key'>
            {{ 'ViewSampleBByProjectManager.CreateDate' | translate }}
          </td>
          <td class='baf-table-value'>
            {{ entity.createDate}}
          </td>
        </tr>
        <tr>
          <td class='baf-table-key'>
            {{ 'ViewSampleBByProjectManager.Value' | translate }}
          </td>
          <td class='baf-table-value'>
            {{ entity.value}}
          </td>
        </tr>
        <tr>
          <td class='baf-table-key'>
            {{ 'ViewSampleBByProjectManager.SampleStatus' | translate }}
          </td>
          <td class='baf-table-value'>
            {{ entity.sampleStatus}}
          </td>
        </tr>
        <tr>
          <td class='baf-table-key'>
            {{ 'ViewSampleBByProjectManager.SampleA' | translate }}
          </td>
          <td class='baf-table-value'>
            {{ entity.sampleA}}
          </td>
        </tr>
      </table>
    </mat-tab>
  </mat-tab-group>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-flat-button (click)='close()'>
    {{ 'ViewSampleBByProjectManager.Cancel' | translate }}  </button>
  <button mat-flat-button (click)='updateSampleBByProjectManager()'>
    {{ 'ViewSampleBByProjectManager.UpdateSampleBByProjectManager' | translate }}
  </button>
  <button mat-flat-button (click)='deleteSampleBByProjectManager()'>
    {{ 'ViewSampleBByProjectManager.DeleteSampleBByProjectManager' | translate }}
  </button>
</mat-dialog-actions>
