<div mat-dialog-title>
  {{ 'DeleteSampleBByProjectManager.FormTitle' | translate }}
</div>
<mat-dialog-content>
  <div *ngIf='!readyToDelete' style='height: 240px; display: flex; align-items: center; justify-content: center;'>
    <mat-spinner diameter='128' strokeWidth='1'></mat-spinner>
  </div>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-flat-button (click)='close()'>
    {{'DeleteSampleBByProjectManager.Close' | translate}}
  </button>
  <button mat-raised-button color='primary' (click)='submit()'>
    {{'DeleteSampleBByProjectManager.Submit' | translate}}
  </button>
</mat-dialog-actions>