<div mat-dialog-title>
  {{ 'UpdateUseCaseDataAttributeByProjectManager.FormTitle' | translate }}
</div>
<mat-dialog-content>
  <div *ngIf='!readyToUpdate' style='height: 240px; display: flex; align-items: center; justify-content: center;'>    <mat-spinner diameter='128' strokeWidth='1'></mat-spinner>  </div>  <form [formGroup]='reactiveForm' *ngIf='readyToUpdate'>    <div fxLayout.gt-sm='row' fxLayout.lt-md='column' fxLayoutGap.gt-sm='16px' fxLayoutGap.lt-md='8px'>
      <mat-form-field appearance='outline' fxFlex.gt-sm='50%' fxFlex.lt-md='100%'>
        <mat-label>
          {{'UpdateUseCaseDataAttributeByProjectManager.Id' | translate}}
        </mat-label>
        <input matInput type='number' formControlName='id'>
        <mat-error *ngIf="this.reactiveForm.get('id').invalid">
          {{'UpdateUseCaseDataAttributeByProjectManager.IdError' | translate}}
        </mat-error>
      </mat-form-field>
    </div>
    <div fxLayout.gt-sm='row' fxLayout.lt-md='column' fxLayoutGap.gt-sm='16px' fxLayoutGap.lt-md='8px'>
      <mat-form-field appearance='outline' fxFlex.gt-sm='50%' fxFlex.lt-md='100%'>
        <mat-label>
          {{'UpdateUseCaseDataAttributeByProjectManager.Name' | translate}}
        </mat-label>
        <input matInput formControlName='name'>
        <mat-error *ngIf="this.reactiveForm.get('name').invalid">
          {{'UpdateUseCaseDataAttributeByProjectManager.NameError' | translate}}
        </mat-error>
      </mat-form-field>
    </div>
    <div fxLayout.gt-sm='row' fxLayout.lt-md='column' fxLayoutGap.gt-sm='16px' fxLayoutGap.lt-md='8px'>
      <mat-form-field appearance='outline' fxFlex.gt-sm='50%' fxFlex.lt-md='100%'>
        <mat-label>
          {{'UpdateUseCaseDataAttributeByProjectManager.Title' | translate}}
        </mat-label>
        <input matInput formControlName='title'>
        <mat-error *ngIf="this.reactiveForm.get('title').invalid">
          {{'UpdateUseCaseDataAttributeByProjectManager.TitleError' | translate}}
        </mat-error>
      </mat-form-field>
    </div>
    <div fxLayout.gt-sm='row' fxLayout.lt-md='column' fxLayoutGap.gt-sm='16px' fxLayoutGap.lt-md='8px'>
      <mat-form-field appearance='outline' fxFlex.gt-sm='50%' fxFlex.lt-md='100%'>
        <mat-label>
          {{'UpdateUseCaseDataAttributeByProjectManager.FaTitle' | translate}}
        </mat-label>
        <input matInput formControlName='faTitle'>
        <mat-error *ngIf="this.reactiveForm.get('faTitle').invalid">
          {{'UpdateUseCaseDataAttributeByProjectManager.FaTitleError' | translate}}
        </mat-error>
      </mat-form-field>
    </div>
    <div fxLayout.gt-sm='row' fxLayout.lt-md='column' fxLayoutGap.gt-sm='16px' fxLayoutGap.lt-md='8px'>
      <mat-form-field appearance='outline' fxFlex.gt-sm='50%' fxFlex.lt-md='100%'>
        <mat-label>
          {{'UpdateUseCaseDataAttributeByProjectManager.Description' | translate}}
        </mat-label>
        <input matInput formControlName='description'>
        <mat-error *ngIf="this.reactiveForm.get('description').invalid">
          {{'UpdateUseCaseDataAttributeByProjectManager.DescriptionError' | translate}}
        </mat-error>
      </mat-form-field>
    </div>
    <div fxLayout.gt-sm='row' fxLayout.lt-md='column' fxLayoutGap.gt-sm='16px' fxLayoutGap.lt-md='8px'>
      <mat-form-field appearance='outline' fxFlex.gt-sm='50%' fxFlex.lt-md='100%'>
        <mat-label>
          {{'UpdateUseCaseDataAttributeByProjectManager.UiRow' | translate}}
        </mat-label>
        <input matInput type='number' formControlName='uiRow'>
        <mat-error *ngIf="this.reactiveForm.get('uiRow').invalid">
          {{'UpdateUseCaseDataAttributeByProjectManager.UiRowError' | translate}}
        </mat-error>
      </mat-form-field>
    </div>
    <div fxLayout.gt-sm='row' fxLayout.lt-md='column' fxLayoutGap.gt-sm='16px' fxLayoutGap.lt-md='8px'>
      <mat-form-field appearance='outline' fxFlex.gt-sm='50%' fxFlex.lt-md='100%'>
        <mat-label>
          {{'UpdateUseCaseDataAttributeByProjectManager.UiColumn' | translate}}
        </mat-label>
        <input matInput type='number' formControlName='uiColumn'>
        <mat-error *ngIf="this.reactiveForm.get('uiColumn').invalid">
          {{'UpdateUseCaseDataAttributeByProjectManager.UiColumnError' | translate}}
        </mat-error>
      </mat-form-field>
    </div>
    <div fxLayout.gt-sm='row' fxLayout.lt-md='column' fxLayoutGap.gt-sm='16px' fxLayoutGap.lt-md='8px'>
      <mat-form-field appearance='outline' fxFlex.gt-sm='50%' fxFlex.lt-md='100%'>
        <mat-label>
          {{'UpdateUseCaseDataAttributeByProjectManager.UseCaseUsageEnum' | translate}}
        </mat-label>
        <mat-select formControlName='useCaseUsageEnumEnum'>
          <mat-option *ngFor='let useCaseUsageEnumEnum of useCaseUsageEnumEnumArray' [value]='useCaseUsageEnumEnum.value'>
            {{useCaseUsageEnumEnum.title}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="this.reactiveForm.get('useCaseUsageEnumEnum').invalid">
          {{'UpdateUseCaseDataAttributeByProjectManager.UseCaseUsageEnumError' | translate}}
        </mat-error>
      </mat-form-field>
    </div>
    <div fxLayout.gt-sm='row' fxLayout.lt-md='column' fxLayoutGap.gt-sm='16px' fxLayoutGap.lt-md='8px'>
      <mat-form-field appearance='outline' fxFlex.gt-sm='50%' fxFlex.lt-md='100%'>
        <mat-label>
          {{'UpdateUseCaseDataAttributeByProjectManager.AttributeQuantity' | translate}}
        </mat-label>
        <mat-select formControlName='attributeQuantityEnum'>
          <mat-option *ngFor='let attributeQuantityEnum of attributeQuantityEnumArray' [value]='attributeQuantityEnum.value'>
            {{attributeQuantityEnum.title}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="this.reactiveForm.get('attributeQuantityEnum').invalid">
          {{'UpdateUseCaseDataAttributeByProjectManager.AttributeQuantityError' | translate}}
        </mat-error>
      </mat-form-field>
    </div>
    <div fxLayout.gt-sm='row' fxLayout.lt-md='column' fxLayoutGap.gt-sm='16px' fxLayoutGap.lt-md='8px'>
      <mat-form-field appearance='outline' fxFlex.gt-sm='50%' fxFlex.lt-md='100%'>
        <mat-label>
          {{'UpdateUseCaseDataAttributeByProjectManager.AttributeCategory' | translate}}
        </mat-label>
        <mat-select formControlName='attributeCategoryEnum'>
          <mat-option *ngFor='let attributeCategoryEnum of attributeCategoryEnumArray' [value]='attributeCategoryEnum.value'>
            {{attributeCategoryEnum.title}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="this.reactiveForm.get('attributeCategoryEnum').invalid">
          {{'UpdateUseCaseDataAttributeByProjectManager.AttributeCategoryError' | translate}}
        </mat-error>
      </mat-form-field>
    </div>
    <div fxLayout.gt-sm='row' fxLayout.lt-md='column' fxLayoutGap.gt-sm='16px' fxLayoutGap.lt-md='8px'>
      <mat-form-field appearance='outline' fxFlex.gt-sm='50%' fxFlex.lt-md='100%'>
        <mat-label>
          {{'UpdateUseCaseDataAttributeByProjectManager.PrimitiveAttributeType' | translate}}
        </mat-label>
        <mat-select formControlName='primitiveAttributeTypeEnum'>
          <mat-option *ngFor='let primitiveAttributeTypeEnum of primitiveAttributeTypeEnumArray' [value]='primitiveAttributeTypeEnum.value'>
            {{primitiveAttributeTypeEnum.title}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="this.reactiveForm.get('primitiveAttributeTypeEnum').invalid">
          {{'UpdateUseCaseDataAttributeByProjectManager.PrimitiveAttributeTypeError' | translate}}
        </mat-error>
      </mat-form-field>
    </div>
    <div fxLayout.gt-sm='row' fxLayout.lt-md='column' fxLayoutGap.gt-sm='16px' fxLayoutGap.lt-md='8px'>
      <mat-form-field appearance='outline' fxFlex.gt-sm='50%' fxFlex.lt-md='100%'>
        <mat-label>
          {{'UpdateUseCaseDataAttributeByProjectManager.SetterOfUpdatePath' | translate}}
        </mat-label>
        <input matInput formControlName='setterOfUpdatePath'>
        <mat-error *ngIf="this.reactiveForm.get('setterOfUpdatePath').invalid">
          {{'UpdateUseCaseDataAttributeByProjectManager.SetterOfUpdatePathError' | translate}}
        </mat-error>
      </mat-form-field>
    </div>
    <div fxLayout.gt-sm='row' fxLayout.lt-md='column' fxLayoutGap.gt-sm='16px' fxLayoutGap.lt-md='8px'>
      <mat-form-field appearance='outline' fxFlex.gt-sm='50%' fxFlex.lt-md='100%'>
        <mat-label>
          {{'UpdateUseCaseDataAttributeByProjectManager.GetterOfUpdatePath' | translate}}
        </mat-label>
        <input matInput formControlName='getterOfUpdatePath'>
        <mat-error *ngIf="this.reactiveForm.get('getterOfUpdatePath').invalid">
          {{'UpdateUseCaseDataAttributeByProjectManager.GetterOfUpdatePathError' | translate}}
        </mat-error>
      </mat-form-field>
    </div>
    <div fxLayout.gt-sm='row' fxLayout.lt-md='column' fxLayoutGap.gt-sm='16px' fxLayoutGap.lt-md='8px'>
      <mat-form-field appearance='outline' fxFlex.gt-sm='50%' fxFlex.lt-md='100%'>
        <mat-label>
          {{'UpdateUseCaseDataAttributeByProjectManager.Nullable' | translate}}
        </mat-label>
        <mat-select formControlName='nullable'>
        <mat-option [value]='false'>{{'UpdateUseCaseDataAttributeByProjectManager.BooleanNo' | translate}}</mat-option>        <mat-option [value]='true'>{{'UpdateUseCaseDataAttributeByProjectManager.BooleanYes' | translate}}</mat-option>        </mat-select>        <mat-error *ngIf="this.reactiveForm.get('nullable').invalid">
          {{'UpdateUseCaseDataAttributeByProjectManager.NullableError' | translate}}
        </mat-error>
      </mat-form-field>
    </div>
    <div fxLayout.gt-sm='row' fxLayout.lt-md='column' fxLayoutGap.gt-sm='16px' fxLayoutGap.lt-md='8px'>
      <mat-form-field appearance='outline' fxFlex.gt-sm='50%' fxFlex.lt-md='100%'>
        <mat-label>
          {{'UpdateUseCaseDataAttributeByProjectManager.Required' | translate}}
        </mat-label>
        <mat-select formControlName='required'>
        <mat-option [value]='false'>{{'UpdateUseCaseDataAttributeByProjectManager.BooleanNo' | translate}}</mat-option>        <mat-option [value]='true'>{{'UpdateUseCaseDataAttributeByProjectManager.BooleanYes' | translate}}</mat-option>        </mat-select>        <mat-error *ngIf="this.reactiveForm.get('required').invalid">
          {{'UpdateUseCaseDataAttributeByProjectManager.RequiredError' | translate}}
        </mat-error>
      </mat-form-field>
    </div>
    <div fxLayout.gt-sm='row' fxLayout.lt-md='column' fxLayoutGap.gt-sm='16px' fxLayoutGap.lt-md='8px'>
      <mat-form-field appearance='outline' fxFlex.gt-sm='50%' fxFlex.lt-md='100%'>
        <mat-label>
          {{'UpdateUseCaseDataAttributeByProjectManager.MinLength' | translate}}
        </mat-label>
        <input matInput type='number' formControlName='minLength'>
        <mat-error *ngIf="this.reactiveForm.get('minLength').invalid">
          {{'UpdateUseCaseDataAttributeByProjectManager.MinLengthError' | translate}}
        </mat-error>
      </mat-form-field>
    </div>
    <div fxLayout.gt-sm='row' fxLayout.lt-md='column' fxLayoutGap.gt-sm='16px' fxLayoutGap.lt-md='8px'>
      <mat-form-field appearance='outline' fxFlex.gt-sm='50%' fxFlex.lt-md='100%'>
        <mat-label>
          {{'UpdateUseCaseDataAttributeByProjectManager.MaxLength' | translate}}
        </mat-label>
        <input matInput type='number' formControlName='maxLength'>
        <mat-error *ngIf="this.reactiveForm.get('maxLength').invalid">
          {{'UpdateUseCaseDataAttributeByProjectManager.MaxLengthError' | translate}}
        </mat-error>
      </mat-form-field>
    </div>
    <div fxLayout.gt-sm='row' fxLayout.lt-md='column' fxLayoutGap.gt-sm='16px' fxLayoutGap.lt-md='8px'>
      <mat-form-field appearance='outline' fxFlex.gt-sm='50%' fxFlex.lt-md='100%'>
        <mat-label>
          {{'UpdateUseCaseDataAttributeByProjectManager.Min' | translate}}
        </mat-label>
        <input matInput type='number' formControlName='min'>
        <mat-error *ngIf="this.reactiveForm.get('min').invalid">
          {{'UpdateUseCaseDataAttributeByProjectManager.MinError' | translate}}
        </mat-error>
      </mat-form-field>
    </div>
    <div fxLayout.gt-sm='row' fxLayout.lt-md='column' fxLayoutGap.gt-sm='16px' fxLayoutGap.lt-md='8px'>
      <mat-form-field appearance='outline' fxFlex.gt-sm='50%' fxFlex.lt-md='100%'>
        <mat-label>
          {{'UpdateUseCaseDataAttributeByProjectManager.Max' | translate}}
        </mat-label>
        <input matInput type='number' formControlName='max'>
        <mat-error *ngIf="this.reactiveForm.get('max').invalid">
          {{'UpdateUseCaseDataAttributeByProjectManager.MaxError' | translate}}
        </mat-error>
      </mat-form-field>
    </div>
    <div fxLayout.gt-sm='row' fxLayout.lt-md='column' fxLayoutGap.gt-sm='16px' fxLayoutGap.lt-md='8px'>
      <mat-form-field appearance='outline' fxFlex.gt-sm='50%' fxFlex.lt-md='100%'>
        <mat-label>
          {{'UpdateUseCaseDataAttributeByProjectManager.ErrorTip' | translate}}
        </mat-label>
        <input matInput formControlName='errorTip'>
        <mat-error *ngIf="this.reactiveForm.get('errorTip').invalid">
          {{'UpdateUseCaseDataAttributeByProjectManager.ErrorTipError' | translate}}
        </mat-error>
      </mat-form-field>
    </div>
    <div fxLayout.gt-sm='row' fxLayout.lt-md='column' fxLayoutGap.gt-sm='16px' fxLayoutGap.lt-md='8px'>
      <mat-form-field appearance='outline' fxFlex.gt-sm='50%' fxFlex.lt-md='100%'>
        <mat-label>
          {{'UpdateUseCaseDataAttributeByProjectManager.DomainEntityAttributeType' | translate}}
        </mat-label>
        <mat-select formControlName='domainEntityAttributeType'>
          <mat-option *ngFor='let domainEntityAttributeType of domainEntityAttributeTypeArray' [value]='domainEntityAttributeType.value'>
            {{domainEntityAttributeType.title}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="this.reactiveForm.get('domainEntityAttributeType').invalid">
          {{'UpdateUseCaseDataAttributeByProjectManager.DomainEntityAttributeTypeError' | translate}}
        </mat-error>
      </mat-form-field>
    </div>
    <div fxLayout.gt-sm='row' fxLayout.lt-md='column' fxLayoutGap.gt-sm='16px' fxLayoutGap.lt-md='8px'>
      <mat-form-field appearance='outline' fxFlex.gt-sm='50%' fxFlex.lt-md='100%'>
        <mat-label>
          {{'UpdateUseCaseDataAttributeByProjectManager.DataEntityAttributeType' | translate}}
        </mat-label>
        <mat-select formControlName='dataEntityAttributeType'>
          <mat-option *ngFor='let dataEntityAttributeType of dataEntityAttributeTypeArray' [value]='dataEntityAttributeType.value'>
            {{dataEntityAttributeType.title}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="this.reactiveForm.get('dataEntityAttributeType').invalid">
          {{'UpdateUseCaseDataAttributeByProjectManager.DataEntityAttributeTypeError' | translate}}
        </mat-error>
      </mat-form-field>
    </div>
    <div fxLayout.gt-sm='row' fxLayout.lt-md='column' fxLayoutGap.gt-sm='16px' fxLayoutGap.lt-md='8px'>
      <mat-form-field appearance='outline' fxFlex.gt-sm='50%' fxFlex.lt-md='100%'>
        <mat-label>
          {{'UpdateUseCaseDataAttributeByProjectManager.UseCaseData' | translate}}
        </mat-label>
        <mat-select formControlName='useCaseData'>
          <mat-option *ngFor='let useCaseData of useCaseDataArray' [value]='useCaseData.value'>
            {{useCaseData.title}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="this.reactiveForm.get('useCaseData').invalid">
          {{'UpdateUseCaseDataAttributeByProjectManager.UseCaseDataError' | translate}}
        </mat-error>
      </mat-form-field>
    </div>
    <div fxLayout.gt-sm='row' fxLayout.lt-md='column' fxLayoutGap.gt-sm='16px' fxLayoutGap.lt-md='8px'>
      <mat-form-field appearance='outline' fxFlex.gt-sm='50%' fxFlex.lt-md='100%'>
        <mat-label>
          {{'UpdateUseCaseDataAttributeByProjectManager.FruitSeedsAttribute' | translate}}
        </mat-label>
        <mat-select formControlName='fruitSeedsAttribute'>
          <mat-option *ngFor='let fruitSeedsAttribute of fruitSeedsAttributeArray' [value]='fruitSeedsAttribute.value'>
            {{fruitSeedsAttribute.title}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="this.reactiveForm.get('fruitSeedsAttribute').invalid">
          {{'UpdateUseCaseDataAttributeByProjectManager.FruitSeedsAttributeError' | translate}}
        </mat-error>
      </mat-form-field>
    </div>
    <div fxLayout.gt-sm='row' fxLayout.lt-md='column' fxLayoutGap.gt-sm='16px' fxLayoutGap.lt-md='8px'>
      <mat-form-field appearance='outline' fxFlex.gt-sm='50%' fxFlex.lt-md='100%'>
        <mat-label>
          {{'UpdateUseCaseDataAttributeByProjectManager.DataEnum' | translate}}
        </mat-label>
        <mat-select formControlName='dataEnum'>
          <mat-option *ngFor='let dataEnum of dataEnumArray' [value]='dataEnum.value'>
            {{dataEnum.title}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="this.reactiveForm.get('dataEnum').invalid">
          {{'UpdateUseCaseDataAttributeByProjectManager.DataEnumError' | translate}}
        </mat-error>
      </mat-form-field>
    </div>
  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-flat-button (click)='close()'>
    {{'UpdateUseCaseDataAttributeByProjectManager.Close' | translate}}
  </button>
  <button mat-raised-button color='primary' (click)='submit()'>
    {{'UpdateUseCaseDataAttributeByProjectManager.Submit' | translate}}
  </button>
</mat-dialog-actions>