<mat-card [ngStyle]='!isWebMedium ? {padding: 4} : {}'>
  <mat-card-header *ngIf='isWebMedium'>
    <mat-card-title>
      {{'ListUseCaseByProjectManager.FormTitle' | translate}}
    </mat-card-title>
  </mat-card-header>
  <mat-divider *ngIf='isWebMedium'></mat-divider>
  <mat-card-content style='padding-top: 8px; padding-bottom: 92px'>
    <button mat-raised-button color='primary' (click)='addNew()'>افزودن مورد کاربری</button>
    <!-- Search -->
    <fieldset style='background-color: #f9f9f9; border-radius: 16px;'>
      <legend>جستجو</legend>
      <div fxLayout.lt-md='column' fxLayout.gt-sm='row' fxLayoutGap.gt-sm='16px' fxLayoutGap.lt-md='8px'>
        <mat-form-field appearance='outline' fxFlex.gt-sm='25%' fxFlex.lt-md='100%'>
          <mat-label>
            {{'ListUseCaseByProjectManager.UseCaseNameSearchField' | translate}}
          </mat-label>
        <input matInput [formControl]='useCaseNameFormControl'>
        </mat-form-field>
      </div>
    <app-search-button-bar
        [loading]="loading"
        (clickOnSearch)="search()"
        (realTimeSearchChanged)="realTimeSearchChanged($event)"
        (resetSearch)="resetSearchForm()">
      </app-search-button-bar>
    </fieldset>
    <!-- Table -->
    <div fxLayout.gt-sm='row' fxLayout.lt-md='column' *ngIf='isWebMedium'>
      <table mat-table [dataSource]='dataSource' style='width: 100%'>
        <ng-container matColumnDef='Id'>
          <mat-header-cell *matHeaderCellDef>
            {{ 'ListUseCaseByProjectManager.IdColumn' | translate }}
          </mat-header-cell>
          <mat-cell *matCellDef='let element'>
            {{element.id}}
          </mat-cell>
        </ng-container>
        <ng-container matColumnDef='UseCaseName'>
          <mat-header-cell *matHeaderCellDef>
            {{ 'ListUseCaseByProjectManager.UseCaseNameColumn' | translate }}
          </mat-header-cell>
          <mat-cell *matCellDef='let element'>
            {{element.useCaseName}}
          </mat-cell>
        </ng-container>
        <ng-container matColumnDef='UserInterfaceType'>
          <mat-header-cell *matHeaderCellDef>
            {{ 'ListUseCaseByProjectManager.UserInterfaceTypeColumn' | translate }}
          </mat-header-cell>
          <mat-cell *matCellDef='let element'>
            {{element.userInterfaceType}}
          </mat-cell>
        </ng-container>
        <ng-container matColumnDef='SoftwareName'>
          <mat-header-cell *matHeaderCellDef>
            {{ 'ListUseCaseByProjectManager.SoftwareNameColumn' | translate }}
          </mat-header-cell>
          <mat-cell *matCellDef='let element'>
            {{element.softwareName}}
          </mat-cell>
        </ng-container>
        <ng-container matColumnDef='SoftwareModuleName'>
          <mat-header-cell *matHeaderCellDef>
            {{ 'ListUseCaseByProjectManager.SoftwareModuleNameColumn' | translate }}
          </mat-header-cell>
          <mat-cell *matCellDef='let element'>
            {{element.softwareModuleName}}
          </mat-cell>
        </ng-container>
        <ng-container matColumnDef='SoftwareFeatureName'>
          <mat-header-cell *matHeaderCellDef>
            {{ 'ListUseCaseByProjectManager.SoftwareFeatureNameColumn' | translate }}
          </mat-header-cell>
          <mat-cell *matCellDef='let element'>
            {{element.softwareFeatureName}}
          </mat-cell>
        </ng-container>
        <ng-container matColumnDef='SoftwareRole'>
          <mat-header-cell *matHeaderCellDef>
            {{ 'ListUseCaseByProjectManager.SoftwareRoleColumn' | translate }}
          </mat-header-cell>
          <mat-cell *matCellDef='let element'>
            {{element.softwareRole}}
          </mat-cell>
        </ng-container>
        <ng-container matColumnDef='GenerationEnable'>
          <mat-header-cell *matHeaderCellDef>
            {{ 'ListUseCaseByProjectManager.GenerationEnableColumn' | translate }}
          </mat-header-cell>
          <mat-cell *matCellDef='let element'>
            {{element.generationEnable}}
          </mat-cell>
        </ng-container>
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;" mat-ripple
                 (click)="view(row)"
                 style="cursor: pointer">
        </mat-row>
      </table>
    </div>
    <!-- No result -->
    <div *ngIf='dataArray.length === 0'>
      <span style='color: #cf1414'>
        نتیجه ای یافت نشد!
      </span>
    </div>
    <!-- paginator -->
    <mat-paginator [pageSizeOptions]='[5, 10, 20]' showFirstLastButtons></mat-paginator>
  </mat-card-content>
</mat-card>